#pragma once
// Salin ke secrets.h (sudah di-.gitignore) lalu isi.

#define WIFI_SSID     "WiFi_Rumah_Darto"
#define WIFI_PASSWORD "ganti"

// Dari provisioned/SYN-xxxx.h
#define HUB_ID        "SYN-0A41"
#define HUB_EMAIL     "syn-0a41@hub.sysnergi.app"
#define HUB_PASSWORD  "ganti"
